<configuration>
    <system.web>
        <!-- Other system.web configurations here -->

        <!-- Add the customErrors tag to disable custom error pages -->
        <customErrors mode="Off" />

    </system.web>

    <system.webServer>
        <!-- Other system.webServer configurations here -->

        <!-- Add the httpErrors tag to show detailed errors -->
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
